<div class='container'>
  <div class='row'>
    <div class='col col-lg-12'>
      <div class='col-lg-7'>
        <div>
          <%= user_id? %>
        </div>
        <div class='exer-grids'>
        <% @exercises.each do |exercise| %>
          <div class='grid'>
            <div class='entry-body'>
              <h3>
              <%= link_to "Exercise date: #{exercise.workout_date}", user_exercise_path(@user, exercise), id: 'Exercise-show' %></a></h3>
              <span class="cat">Created: <%= time_ago_in_words(exercise.created_at) %> ago</span>
              <p><%= truncate(exercise.workout, length: 250) %></p>
              <div class="row">
                <%= exercise_owner(exercise) %>
              </div>
            </div>      
          </div>
        <% end %>  
        </div>
        <div class='workout-chart'>
          <%= content_tag :div, '', id: 'chart', data: { workouts: @exercises } %>
        </div>
      </div>
      <div class='col-lg-5'>
        <%= render partial: 'displaying_friends' %>
      </div>
    </div>
  </div>
</div>